<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" >
    <div th:if="${msgSuccess != null}">
        [[${msgSuccess}]]
    </div>

      <h1>Contact List!</h1>
      <a href="/new">Añadir Contacto</a>

      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cellphone</th>
                <th>Email</th>
                <th>Brithdate</th>
                <th>Register Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.id}"></td>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.cellPhone}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${#temporals.format(contact.birthDate, 'dd/MM/YYYY')}"></td>
                <td th:text="${#temporals.format(contact.createDate, 'dd/MM/YYYY hh:mm a')}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/{id}/edit/(id=${contact.id})}">Edit</a>
                    <a class="btn btn-danger" onclick="deleteContact(this)">Delete</a>
                    <form th:action="@{/{id}/delete/(id=${contact.id})}" method="post"></form>
                </td>
            </tr>
        </tbody>
      </table>
</div>

<script>
    function deleteContact(element){
        var ok = confirm('Are yoo sure you want to delete this contact?');

        if(ok){
            element.nextElementSibling.submit();
        }
    }
</script>

</body>
</html>